.footer-color {
  background-color: #7d7d7d;
}

.color-white {
  color: white;
}

.img-fluid {
  height: 110px !important;
}

@media (max-width: 992px) {
  .img-fluid {
    height: auto !important;
  }
}
