.left-right {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.half-half {
  flex-basis: 50%;
}

.half-half img {
  max-width: 100%;
}

.pd-right {
  padding-right: 82px;
}

.underline-with-color {
  border-bottom: 5px solid;
  width: fit-content;
}

.blue-underline {
  border-color: #4993bd;
}

.grey-background {
  background-color: #f0f0f0;
}

.bold-style {
  font-family: Avenir LT Std;
  font-style: normal;
  font-weight: 750;
  line-height: 36px;
}

.mt-paragraph {
  margin-top: 36px;
  font-family: Avenir LT Std;
  font-style: normal;
  font-weight: normal;
  line-height: 42px;
}
